<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
     <div class="greeting"> 
       こんにちは、 
      <%= link_to current_user.name , root_path, class: :greeting__link%>さん
     </div> 
    <% end %>
    <div class="card__wrapper">
     <% @prototypes.each do |prototype| %>
      <a href="/prototypes/<%= prototype.id %>">
       <%= image_tag prototype.image, class: 'prototype-image' if prototype.image.attached? %>
      </a>
      <div class ="card">
        <div class="card_body">
         <div class="card_title">
          <a href="/prototypes/<%= prototype.id %>"></a>
         </div>
         <div class="card_summary">
          <p><%= prototype.catchcopy %></p>
         </div>
         <div class="card_user">
         by
          <a href="/users/<%= prototype.user.id %>"></a>
         </div>
        </div>
      </div>
      <%= render partial: "prototype", locals: { prototype: prototype } %>
     <% end %>
    </div>
  </div>
</main>
